aiofiles
fastapi
fyers-apiv2
jinja2
joblib
numpy==1.24.4
pandas
python-dotenv
python-multipart
scikit-learn
tensorflow
uvicorn
yfinance
ta 
pandas-ta
vaderSentiment
websockets==11.0.3
yliveticker
yflive
yfinance
openai
setuptools
pandas_ta==0.3.14b0
tensorflow
matplotlib